@charset "UTF-8";
/* stylelint-disable */
/* stylelint-enable */
/* stylelint-disable */
/**
* Селекторы для таргетинга на конкретные браузеры без влияния на специфику или
* ограничение использования в медиа-запросах
*
* Плюсы:
* - Работает с медиа-запросами
*
* Минусы:
* - Не может использоваться с @extend, так как это приведет к недействительности других селекторов
*/
/**
* Целевой Internet Explorer, но не Edge
*
* @demo
*	div {
*		@include browser-ie () {
*			// ...
*		}
*	}
*/
/**
* Target IE-Edge
*/
/**
* Target Firefox
*/
/**
* Target Safari
*/
/**
* Target all WebKit browsers
*/
/**
* Remove the unit of a length
*
* @param {Number} $number - Number to remove unit from
* @return {Number} - Unitless number
*/
/**
* Returns nth property from css property list
*
* @property {map} $list List
* @property {number} $index Item index
*
* @example
*	$bottom-margin: css-nth(10px 20px 30px 40px, 3); // 30px
*	$bottom-margin: css-nth(10px 20px, 3); // 10px
*/
/**
* Remove nth elements from the list
*
* @property {map} $list List
* @property {number} $index Item index
*
* @example
*	$list: remove-nth(10px 20px 30px 40px, 3); // 10px 20px 40px
*/
/**
* In each $list pair of $breakpoint: $value replaces all values with 'inherit'
* except for one in $index position
*
* 'inherit' value when used with 'margins' or 'paddings' mixin will not produce any output
*
* @example
*	$spacer: (xs: 10px 11px 12px 13px, md: 20px 0);
*
*	$spacer-top-only: breakpointPickCssNth($spacer, 1);
* => (xs: 10px inherit inherit inherit, md: 20px inherit inherit inherit)
*	@include margins($spacer-top-only);
*
*	$spacer-bottom-only: breakpointPickCssNth($spacer, 3);
* => (xs: inherit inherit 12px inherit, md: inherit inherit 20px inherit)
*	@include paddings($spacer-bottom-only);
*/
/**
* In each $list pair of $breakpoint: $value replaces all values with 'inherit'
* except for top (first) and bottom (third) properties
*
* @example
*	$spacer: (xs: 10px 11px 12px 13px, md: 20px 0);
*
*	$spacer-top-bottom: breakpoint-pick-top-bottom($spacer);
* => (xs: 10px inherit 12px inherit, md: 20px inherit 20px inherit)
*	@include margins($spacer-top-bottom);
*/
/**
* In each $list pair of $breakpoint: $value replaces all values with 'inherit'
* except for right (second) and left (fourth) properties
*
* @example
*	$spacer: (xs: 10px 11px 12px 13px, md: 20px 0);
*
*	$spacer-left-right: breakpoint-pick-top-bottom($spacer);
* => (xs: inherit 11px inherit 13px, md: inherit 0 inherit 0)
*	@include margins($spacer-left-right);
*/
/**
* In each $list pair of $breakpoint: $value merges all values skipping 'inherit'
*
* @example
*	$list-a: (xs: 10px inherit 20px inherit, md: 30px inherit);
*	$list-b: (xs: 40px inherit inherit inherit, md: inherit 50px);
*
*	$list-result: breakpointMapMerge($list-a, $list-b);
*	// (xs: 40px inherit 20px inherit, md: 30px 50px);
*/
/**
* Returns deeply nested property from a map
*
* @function mapGetDeep Deep get for sass maps
* @author https://css-tricks.com/snippets/sass/deep-getset-maps/
* @param {Map} $map - Map
* @param {Arglist} $keys - Key chain
*
* @example
*	$paddings: mapGetDeep($grid-containers, default, paddings, xs);
*/
/**
* Mixin for object-fit plugin
*
* @see https://github.com/bfred-it/object-fit-images
* @see components/_background.scss
* @example
*	@include object-fit(contain);
*	@include object-fit(cover, top);
*/
/**
* Split string into a list
*
* @property {string} $string String
* @property {string} $separator Separator
*
* @example
*	$list: str-split("hello+world", "+"); // (hello, world)
*/
/**
* Converts SVG into data url so that this SVG could be used as a
* background image
*
* @example
*	background-image: svgtodataurl("<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100">...</svg>");
*/
/**
* Remove keys from the map
*
* @param {Map} $map - Map from which to remove items
* @param {List} $keys - List of keys which to remove
* @return {Map} - Map without the specified keys
*/
/**
* Качество рендеринга изображений
* В Chrome качество фонового изображения не самое лучшее при использовании background-size
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth; }
  html.has-cursor,
  html.has-cursor * {
    cursor: none !important; }
  html.is-lock-scroll,
  html.is-lock-scroll body {
    overflow: hidden; }

body {
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  -webkit-text-decoration-skip: objects;
          text-decoration-skip: objects;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  color: #666666;
  -webkit-tap-highlight-color: transparent; }

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

h2 {
  font-size: 18px;
  color: #010101; }

p {
  margin: 0; }

a,
button {
  outline: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer; }

a {
  text-decoration: none;
  color: currentColor; }

svg {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
  height: 100%;
  fill: currentColor; }

figure,
picture {
  display: inline-block;
  margin: 0;
  line-height: 0; }
  figure img,
  picture img {
    width: 100%; }

img {
  vertical-align: top;
  max-width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

img[draggable="false"] {
  pointer-events: none;
  -webkit-user-drag: none; }

fieldset {
  margin: 0;
  border: 0;
  padding: 0; }

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0; }

video {
  outline: none;
  width: 100%;
  height: 100%; }

iframe {
  display: block; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  border: 0;
  padding: 0;
  text-align: center;
  background-color: transparent;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .btn__content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 100%;
    color: currentColor;
    -webkit-transform: translateZ(0);
            transform: translateZ(0); }

.js-lazy-load:not(.is-loaded) {
  max-height: 50vh; }

.container {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 100%;
  max-width: 100%; }

.site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  min-height: var(--vh); }

/* stylelint-disable */
/*
* Немедленно переместите любую анимацию в конечную точку, если пользователь установил свое устройство в положение "prefers reduced motion".
* Это может привести к плохим(непреднамеренным) последствиям. Удалите по мере необходимости и напишите свой собственный код для prefers-reduced-motion.
*/
@media (prefers-reduced-motion: reduce) {
  *,
  *:before,
  *:after {
    -webkit-animation-duration: 0.001s !important;
            animation-duration: 0.001s !important;
    -webkit-animation-delay: 0s !important;
            animation-delay: 0s !important;
    -webkit-transition-duration: 0.001s !important;
         -o-transition-duration: 0.001s !important;
            transition-duration: 0.001s !important;
    -webkit-transition-delay: 0s !important;
         -o-transition-delay: 0s !important;
            transition-delay: 0s !important; } }

/* stylelint-enable */
.is-hidden {
  display: none !important; }

.is-hide {
  opacity: 0; }

@media (max-width: 1024px) {
  .for-desktop {
    display: none !important; } }

@media (min-width: 1025px) {
  .for-tablet {
    display: none !important; } }

@media (max-width: 767px) {
  .for-tablet {
    display: none !important; } }

@media (min-width: 1025px) {
  .for-mobile {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .for-mobile {
    display: none !important; } }

@media (min-width: 1025px) {
  .for-devices {
    display: none !important; } }

.clearfix {
  overflow: auto; }
  .clearfix::after {
    content: "";
    display: table;
    clear: both; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0); }

/* stylelint-disable */
.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto; }

/* stylelint-enable */
.fields-box {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.field {
  position: relative;
  margin-top: 9px;
  padding: 6px 0 0; }
  .field:first-child {
    margin-top: 5px; }
  .field:nth-child(3) {
    margin-top: 11px; }

.field-label {
  content: "";
  position: absolute;
  left: 0;
  top: 23px;
  display: block;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.field-input {
  outline: 0;
  border: 0;
  border-bottom: 2px solid #666666;
  padding: 16px 0 8px;
  width: 100%;
  font-family: inherit;
  background: transparent;
  -webkit-transition: border-color 0.2s;
  -o-transition: border-color 0.2s;
  transition: border-color 0.2s; }
  .field-input::-webkit-input-placeholder {
    color: transparent; }
  .field-input::-moz-placeholder {
    color: transparent; }
  .field-input:-ms-input-placeholder {
    color: transparent; }
  .field-input::-ms-input-placeholder {
    color: transparent; }
  .field-input::placeholder {
    color: transparent; }
  .field-input:required, .field-input:invalid {
    -webkit-box-shadow: none;
            box-shadow: none; }

.field-input:focus ~ .field-label,
.field-input.active ~ .field-label {
  position: absolute;
  top: 0;
  display: block;
  font-size: 0.7rem;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: text; }

@-webkit-keyframes click-wave {
  0% {
    position: relative;
    border-radius: 10px;
    width: 19px;
    height: 19px;
    opacity: 0.35; }
  100% {
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    opacity: 0; } }

@keyframes click-wave {
  0% {
    position: relative;
    border-radius: 10px;
    width: 19px;
    height: 19px;
    opacity: 0.35; }
  100% {
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    opacity: 0; } }

.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  top: -2px;
  z-index: 1000;
  margin-right: 0.5rem;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 19px;
  height: 19px;
  background: #eee;
  -webkit-transition: all 0.15s ease-out 0s;
  -o-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  cursor: pointer; }
  .checkbox:checked {
    background: #0093d7; }
  .checkbox:hover {
    background: #ccc; }

.checkbox:checked:hover {
  background: #0093d7; }

.checkbox:checked::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 5px;
  width: 14px;
  height: 10px;
  background: url("../images/check.png") no-repeat;
  background-position: center;
  background-size: 100%; }

.checkbox:checked::after {
  content: "";
  position: relative;
  z-index: 100;
  display: block;
  background: #0093d7;
  -webkit-animation: click-wave 0.65s;
          animation: click-wave 0.65s; }

.anketa {
  padding-top: 60px;
  padding-bottom: 100px;
  background-color: #f0f0f0; }
  .anketa h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 500; }
  .anketa__form {
    margin: 0 auto;
    width: 660px; }
    @media (max-width: 767px) {
      .anketa__form {
        margin: 10px;
        width: auto; } }
  .anketa__basic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    margin-bottom: 1px;
    padding: 0 19px 32px 20px;
    background-color: #fff; }
    @media (min-width: 768px) and (max-width: 1024px) {
      .anketa__basic {
        overflow: hidden; } }
    @media (max-width: 767px) {
      .anketa__basic {
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap; } }
  .anketa__person-img {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    overflow: hidden;
    margin-top: 30px;
    margin-right: 21px;
    border-radius: 50%;
    width: 140px;
    height: 140px; }
    .anketa__person-img picture {
      content: "";
      position: absolute;
      left: 0;
      top: -20px;
      display: block;
      width: 140px;
      height: 140px; }
  .anketa__approved-img {
    content: "";
    position: absolute;
    right: -300px;
    top: 0;
    z-index: 5;
    opacity: 0;
    -webkit-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);
    -webkit-transition: all 0.4s ease 0.2s;
    -o-transition: all 0.4s ease 0.2s;
    transition: all 0.4s ease 0.2s; }
    .anketa__approved-img.active {
      right: -16px;
      top: 73px;
      opacity: 1;
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1); }
      @media (max-width: 767px) {
        .anketa__approved-img.active {
          top: -100px; } }
  .anketa__skills {
    margin-bottom: 1px;
    padding: 34px 20px 0 22px;
    background-color: #fff; }
    @media (max-width: 767px) {
      .anketa__skills {
        padding: 34px 10px 0; } }
  .anketa__checkboxes-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    margin: 0;
    width: auto;
    height: 176px; }
    @media (max-width: 767px) {
      .anketa__checkboxes-inner {
        margin: 0 auto;
        width: 300px;
        height: 400px; } }
  .anketa__skill-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    margin-bottom: 37px;
    padding-top: 3px;
    width: 160px;
    font-weight: 500;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    cursor: pointer; }
  .anketa__js {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    padding: 59px 18px 0 23px;
    background-color: #fff; }
    .anketa__js h2 {
      margin-top: 7px;
      margin-bottom: 27px;
      line-height: 130%; }
    @media (max-width: 767px) {
      .anketa__js {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 30px 18px 0 23px;
        text-align: center; } }
  .anketa__js-img {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 320px; }
    .anketa__js-img input,
    .anketa__js-img label {
      margin-top: 40px; }
    @media (max-width: 767px) {
      .anketa__js-img {
        margin-bottom: 25px;
        width: auto; } }
  .anketa__js-scale {
    z-index: 0;
    width: 250px; }
  .anketa__js-arrow-box {
    content: "";
    position: absolute;
    left: 65px;
    top: 85px;
    z-index: 1;
    width: 131px;
    height: 131px;
    -webkit-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
            transform: rotate(40deg); }
  .anketa__js-arrow {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: rotate(-75deg);
        -ms-transform: rotate(-75deg);
            transform: rotate(-75deg); }
  .anketa__js-counter {
    height: 100px;
    font-weight: 700;
    font-size: 50px;
    line-height: 0.44;
    color: #0093d7; }

.anketa__skill-label:nth-child(3n) {
  margin-bottom: 33px; }

/*# sourceMappingURL=main.css.map */
